* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7fafe;
    font-family: "Rubik", sans-serif;
    color:#01060c;;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #01060c;
}

.container {
    width: 327px;
    margin: 0 auto;
}

.title-1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;
}

.title-2 {
    font-size: 30px;
    line-height: 100%;
}

.title-3 {
    font-weight: 700;
    font-size: 24px;
}

.title-4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
}

.header {
    background-color: #fff;
}

.header .container{
    padding: 12px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my_photo {
    border-radius: 100px;
    width: 40px;
    height: 40px;
}